<section id="sh-brands">
    <div class="container-fluid">
        <div class="row center-xs">
            <h2 class="sh-divider__header">Disponemos de más de 300 marcas</h2>
            <div class="col-xs-12 sh-m-top__lg"><a class="sh-link" href="./brands.html" title="">Ver todas las marcas con las que trabajamos <i class="icon icon-right-open"></i></a></div>
        <div class="col-xs-12 row-brands sh-m-top__lg">
            <a href="./subcategory.html"><img src="img/low/promo.png" alt=""></a>
            <a href="./subcategory.html"><img src="img/low/promo.png" alt=""></a>
            <a href="./subcategory.html"><img src="img/low/promo.png" alt=""></a>
            <a href="./subcategory.html"><img src="img/low/promo.png" alt=""></a>
            <a href="./subcategory.html"><img src="img/low/promo.png" alt=""></a>
            <a href="./subcategory.html"><img src="img/low/promo.png" alt=""></a>
            <a href="./subcategory.html"><img src="img/low/promo.png" alt=""></a>
            <a href="./subcategory.html"><img src="img/low/promo.png" alt=""></a>
        </div>
        </div>
    </div>
</section>