<div>
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <strong><a itemprop="item" href="/" title="Suministros Herco">
                <span itemprop="name">Suministros Herco</span>
            </a></strong>
            <meta itemprop="position" content="1">
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <span>
                <i class="icon icon-right-open"></i>
                <a itemprop="item" href="" title="">
                    <span itemprop="name">@@category-page</span>
                </a>
            </span>
            <meta itemprop="position" content="2">
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <span>
                <i class="icon icon-right-open"></i>
                <a itemprop="item" href="" title="">
                    <span itemprop="name">Subcategory</span>
                </a>
            </span>
            <meta itemprop="position" content="3">
        </li>
    </ol>
</div>