<div id="sh-cta-search">
    <div class="cta-head" style="background: url(img/low/bg-cta-search.png);">    
        <div class="container-fluid">
            <div class="row center-xs sh-text__white">
                <div class="col-xs-12 col-md-8 sh-m-top__lg">
                    <p class="sh-text__h2">¿Problemas para encontrar lo que necesitas?</p>
                    <p class="sh-m-bottom__xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-search-form container sh-m-bottom__xl">
        <div class="row center-xs">
            <div class="col-xs-12 col-md-8">
                <form class="sh-form-search" action="./search.html">
                    <input class="sh-input sh-form__lg" type="text" placeholder="Buscar..." name="search">
                    <button type="submit" class="sh-btn sh-form__lg"></button>
                </form>
            </div>
        </div>
    </div>
</div>