<section id="sh-features-categories" class="container-fluid sh-m-top__xl sh-m-bottom__xl">
  <div class="row center-xs sh-m-bottom__lg">
    <h2 class="sh-divider__header">Categorías destacadas</h2>
    <div class="col-xs-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Protección y vestuario">Protección y&nbsp;vestuario</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Herramientas manuales">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Herramientas manuales">Herramientas manuales</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Herramientas eléctricas y neumáticas">Herramientas eléctricas y&nbsp;neumáticas</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="sh-overlay">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Mobiliario y almacenaje">Mobiliario y&nbsp;almacenaje</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="sh-overlay">
          <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
          <div class="sh-overlay-content">
              <h3><a href="./category.html" title="Ferretería y cerrajería">Ferretería y&nbsp;cerrajería</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="sh-overlay">
          <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
          <div class="sh-overlay-content">
            <h3><a href="./category.html" title="Soldadura">Soldadura</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="sh-overlay">
            <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
            <div class="sh-overlay-content">
              <h3><a href="./category.html" title="Rodamientos y cojinetes">Rodamientos y&nbsp;cojinetes</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="sh-overlay">
          <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
          <div class="sh-overlay-content">
            <h3><a href="./category.html" title="Elevación y transportes">Elevación y&nbsp;transportes</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
    </div>
  </div>


</section>