<section id="sh-features-categories" class="container-fluid sh-m-top__xl sh-m-bottom__xl">
  <div class="row center-xs sh-m-bottom__lg">
    <h2 class="sh-divider__header">Categorías destacadas</h2>
    <div class="col-xs-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Protección y vestuario">Protección y&nbsp;vestuario</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Herramientas manuales">
        <div class="sh-overlay-content">
          <h3>Herramientas manuales</h3>
          <a href="#" class="sh-btn" title="Protección y vestuario">Ver todo</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
        <div class="sh-overlay-content">
          <h3>Herramientas eléctricas y&nbsp;neumáticas</h3>
          <a href="#" class="sh-btn" title="Protección y vestuario">Ver todo</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="sh-overlay">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
        <div class="sh-overlay-content">
          <h3>Mobiliario y&nbsp;almacenaje</h3>
          <a href="#" class="sh-btn" title="Protección y vestuario">Ver todo</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="sh-overlay">
          <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
          <div class="sh-overlay-content">
              <h3>Ferretería y&nbsp;cerrajería</h3>
            <a href="#" class="sh-btn" title="Protección y vestuario">Ver todo</a>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="sh-overlay">
          <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
          <div class="sh-overlay-content">
            <h3>Soldadura</h3>
            <a href="#" class="sh-btn" title="Protección y vestuario">Ver todo</a>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="sh-overlay">
            <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
            <div class="sh-overlay-content">
              <h3>Rodamientos y&nbsp;cojinetes</h3>
              <a href="#" class="sh-btn" title="Protección y vestuario">Ver todo</a>
            </div>
          </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="sh-overlay">
          <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
          <div class="sh-overlay-content">
            <h3>Elevación y&nbsp;transportes</h3>
            <a href="#" class="sh-btn" title="Protección y vestuario">Ver todo</a>
          </div>
        </div>
    </div>
  </div>


</section>