<section id="sh-features-categories" class="container-fluid sh-m-top__xl sh-m-bottom__xl">
  <div class="row center-xs sh-m-bottom__lg">
    <h2 class="sh-divider__header">Categorías destacadas</h2>
    <div class="col-xs-12">
      <p>Te mostramos los suministros industriales más destacados de nuestra tienda online de las principales marcas del
        sector.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/mangueras-tubos-category-bg.jpg" alt="Protección y vestuario">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Protección y vestuario">Mangueras y&nbsp;tubos</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/lubricacion-tecnica-fluidos-category-bg.jpg" alt="Lubricación y técnica de fluidos">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Lubricación y técnica de fluidos">Lubricación y técnica de fluidos</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Protección y vestuario">Protección y vestuario</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="sh-overlay">
        <img src="img/low/adhesivos-category-bg.jpg" alt="Adhesivos">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Adhesivos">Adhesivos</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="sh-overlay">
        <img src="img/low/soldadura-category-bg.jpg" alt="Soldadura">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Soldadura">Soldadura</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/tornilleria-category-bg.jpg" alt="Tornillería">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Tornillería">Tornillería</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/abrasivos-category-bg.jpg" alt="Abrasivos">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Abrasivos">Abrasivos</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/herramientas-electricas-neumaticas-category-bg.jpg" alt="Herramientas eléctricas y neumáticas">
        <div class="sh-overlay-content">
          <h3><a href="./category.html" title="Herramientas eléctricas y neumáticas">Herramientas eléctricas y neumáticas</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
  </div>


</section>