<div class="container-fluid sh-chip-categories">
    <div class="sh-chip">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Person" >
        <strong><a href="#" title="">Lorem ipsum</a></strong>
    </div>
    <div class="sh-chip">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Person" >
        <strong><a href="#" title="">Lorem ipsum</a></strong>
    </div>
    <div class="sh-chip">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Person" >
        <strong><a href="#" title="">Lorem ipsum</a></strong>
    </div>
    <div class="sh-chip">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Person" >
        <strong><a href="#" title="">Remachadoras</a></strong>
    </div>
    <div class="sh-chip">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Person" >
        <strong><a href="#" title="">Puntas de destornillador</a></strong>
    </div>
    <div class="sh-chip">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Person" >
        <strong><a href="#" title="">Prensa terminales</a></strong>
    </div>
    <div class="sh-chip">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Person" >
        <strong><a href="#" title="">Lorem ipsum dolior</a></strong>
    </div>
    <div class="sh-chip">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Person" >
        <strong><a href="#" title="">Lorem ipsum</a></strong>
    </div>
</div>