<div class="container-fluid sh-list-categories">
    <ul class="scroll no-scrollbar">
        
        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/gafas-proteccion-subcategory-bg.jpg" alt="Gafas de protección">
                <div class="sh-overlay-content">
                    <strong><a href="./subcategory.html" title="Gafas de protección">Gafas de protección</a></strong>
                    <span>500 productos</span>
                </div>
            </div>
        </li>
        
        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/gafas-proteccion-subcategory-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Cascos de protección</a></strong>
                    <span>500 productos</span>
                </div>
            </div>
        </li>
        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Arnés de seguridad</a></strong>
                    <span>1.200 productos</span>
                </div>
            </div>
        </li>
        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Respiradores</a></strong>
                    <span>2.500 productos</span>
                </div>
            </div>
        </li>

        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Guantes</a></strong>
                    <span>1.540 productos</span>
                </div>
            </div>
        </li>
        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Vestuario laboral</a></strong>
                    <span>432 productos</span>
                </div>
            </div>
        </li>
        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Calzado de seguridad</a></strong>
                    <span>500 productos</span>
                </div>
            </div>
        </li>

        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Lorem ipsum</a></strong>
                    <span>500 productos</span>
                </div>
            </div>
        </li>

        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Lorem ipsum</a></strong>
                    <span>500 productos</span>
                </div>
            </div>
        </li>

        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Lorem ipsum</a></strong>
                    <span>500 productos</span>
                </div>
            </div>
        </li>

        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Lorem ipsum</a></strong>
                    <span>500 productos</span>
                </div>
            </div>
        </li>

        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Lorem ipsum</a></strong>
                    <span>500 productos</span>
                </div>
            </div>
        </li>

        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Lorem ipsum</a></strong>
                    <span>500 productos</span>
                </div>
            </div>
        </li>

        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Lorem ipsum</a></strong>
                    <span>500 productos</span>
                </div>
            </div>
        </li>

        <li class="scroll-item">
            <div class="sh-overlay">
                <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="">
                <div class="sh-overlay-content">
                    <strong><a href="#" title="">Lorem ipsum</a></strong>
                    <span>500 productos</span>
                </div>
            </div>
        </li>
        
        
    </ul>
</div>