<table class="table sh-box table-striped" cellpadding="0" cellspacing="0">
    <tbody><tr class="table-title">
        <th>Atributo</th>
        <th>Valor</th>
    </tr>
    
        <tr>
            <td>Medición de Corriente Máxima Absoluta</td>
            <td>100 A ac, 100 A ac/dc, 200 A ac, 1000 A ac, 1300 A ac/dc, 10000 A ac</td>
        </tr>
    
        <tr>
            <td>Número de Fases</td>
            <td>1, 3</td>
        </tr>
    
        <tr>
            <td>Tensión Máxima</td>
            <td>1000V</td>
        </tr>
    
        <tr>
            <td>Calibrado</td>
            <td>RSCAL</td>
        </tr>
    
        <tr>
            <td>Tipo de Display</td>
            <td>TFT LCD</td>
        </tr>
    
        <tr>
            <td>Tipo de Medición</td>
            <td>Corriente, Tensión</td>
        </tr>
    
        <tr>
            <td>Estándares de Medición</td>
            <td>IEC 610101</td>
        </tr>
    
        <tr>
            <td>Tipo de Interfaz</td>
            <td>USB</td>
        </tr>
    
        <tr>
            <td>Potencia de la Fuente</td>
            <td>Alimentación, Batería</td>
        </tr>
    
        <tr>
            <td>Tipo de Batería</td>
            <td>NiMH recargable</td>
        </tr>
    
        <tr>
            <td>Duración de Batería</td>
            <td>13 h</td>
        </tr>
    
        <tr>
            <td>Longitud</td>
            <td>240mm</td>
        </tr>
    
        <tr>
            <td>Peso</td>
            <td>1.9kg</td>
        </tr>
    
        <tr>
            <td>Altura</td>
            <td>55mm</td>
        </tr>
    
        <tr>
            <td>Número de Modelo p</td>
            <td>CA8331</td>
        </tr>
    
        <tr>
            <td>Dimensiones</td>
            <td>240 x 180 x 55mm</td>
        </tr>
    
        <tr>
            <td>Frecuencia Máxima</td>
            <td>69Hz</td>
        </tr>
    
        <tr>
            <td>Anchura</td>
            <td>180mm</td>
        </tr>
    
        <tr>
            <td>Frecuencia Mínima</td>
            <td>40 Hz</td>
        </tr>
    
</tbody></table>

