<div class="sh-comparison-table__wrap">
    <div class="sh-products-table">
        <div class="features">
            <ul class="features-list">
                <li>Marca</li>
                <li>Precios</li>
                <li>Tallas</li>
                <li>Color</li>
                <li>Potencia</li>
                <li>Atributo</li>
            </ul>
        </div> <!-- .features -->
        
        <div class="sh-products-wrapper">
            <ul class="sh-products-columns">
                <li class="product">
                    <ul class="features-list">
                        <li>APOLO</li>
                        <li>0,35 € /und.</li>
                        <li>XS</li>
                        <li>Azul</li>
                        <li>100Hz</li>
                        <li>2011</li>
                    </ul>
                </li> <!-- .product -->

                <li class="product">
                    <ul class="features-list">
                        <li>&#8205;</li>
                        <li>3,5 € /10 und.</li>
                        <li>S</li>
                        <li>Amarillo</li>
                        <li>200Hz</li>
                        <li>2012</li>
                    </ul>
                </li> <!-- .product -->

                <li class="product">
                    <ul class="features-list">
                        <li>&#8205;</li>
                        <li>35 € /100 und.</li>
                        <li>M</li>
                        <li>Rojo</li>
                        <li>300Hz</li>
                        <li>2013</li>
                    </ul>
                </li> <!-- .product -->

                <li class="product">
                    <ul class="features-list">
                        <li>&#8205;</li>
                        <li>350 € /1000 und.</li>
                        <li>L</li>
                        <li>Azul</li>
                        <li>400Hz</li>
                        <li>2014</li>
                    </ul>
                </li> <!-- .product -->

                <li class="product">
                    <ul class="features-list">
                        <li>&#8205;</li>
                        <li>&#8205;</li>
                        <li>XL</li>
                        <li>Verde</li>
                        <li>500Hz</li>
                        <li>2015</li>
                    </ul>
                </li> <!-- .product -->

                <li class="product">
                    <ul class="features-list">
                        <li>&#8205;</li>
                        <li>&#8205;</li>
                        <li>XXL</li>
                        <li>&#8205;</li>
                        <li>600Hz</li>
                        <li>2016</li>
                    </ul>
                </li> <!-- .product -->

                <li class="product">
                    <ul class="features-list">
                        <li>&#8205;</li>
                        <li>&#8205;</li>
                        <li>&#8205;</li>
                        <li>&#8205;</li>
                        <li>700Hz</li>
                        <li>&#8205;</li>
                    </ul>
                </li> <!-- .product -->

                <li class="product">
                    <ul class="features-list">
                        <li>&#8205;</li>
                        <li>&#8205;</li>
                        <li>&#8205;</li>
                        <li>&#8205;</li>
                        <li>800Hz</li>
                        <li>&#8205;</li>
                    </ul>
                </li> <!-- .product -->
            </ul> <!-- .sh-products-columns -->
        </div> <!-- .sh-products-wrapper -->
    </div> <!-- .sh-products-table -->
</div> <!-- .sh-products-comparison-table -->