<section id="sh-promos" class="container-fluid sh-m-top__xl sh-m-bottom__xl">
  <div class="row center-xs sh-m-bottom__lg">
    <h2 class="sh-divider__header">@@title</h2>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="sh-box">
        <div class="promo-content">
          <div>
            <h3>Vestuario Laboral</h3>

          </div>
          <img class="promo" src="img/low/promo-catalogo.png" alt="x">
          <div class="promo-hover-content">
            <p>Consulta todos los artículos que disponemos en stock de esta familia.</p>
          </div>
        </div>
      </div>
      <!--end sh-box promo-->
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="sh-box">
        <div class="promo-content">
          <div>
            <h3>25% dto. en gafas de protección</h3>
          </div>
          <img class="promo" src="img/low/promo-gafas.png" alt="x">
          <div class="promo-hover-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <!--end sh-box promo-->
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="sh-box">
        <div class="promo-content">
          <div>
            <h3>Ventilación</h3>
          </div>
          <img class="promo" src="img/low/promo.png" alt="x">
          <div class="promo-hover-content">
            <p>Conoce todos los productos en stock de esta familia.</p>
          </div>
        </div>
      </div>
      <!--end sh-box promo-->
    </div>
    <div class="col-xs-12 center-xs sh-m-top__lg">
      <a class="sh-link" href="#">Ver todas las promociones <i class="icon icon-right-open"></i></a>
      
    </div>
  </div>
  <!--end .row-->
  
</section>