<section id="sh-quickorder-login" class="container-fluid">
        <div class="row sh-box">
            <div class="col-xs-12 col-md-3">
                <h2>Hola Lorena</h2>
                <p class="sh-text__h5">¿Qué necesitas hoy?</p>
                <div class="sh-divider__header"></div>
                <nav role="navigation" class="sh-m-top__md">
                    <ul class="sh-nav-list">
                        <li><i class="icon icon-user"></i><a href="#" title="Ver perfil"> Ver mi perfil</a></li>
                        <li><i class="icon icon-doc-text"></i><a href="#" title="Historial pedidos">Historial de
                                pedidos</a></li>
                        <li><i class="icon icon-heart"></i><a href="#" title="Cestas guardas">Cestas guardadas</a></li>
                        <li><i class="icon icon-logout"></i><a href="#" title="Cerrar sesion"> Cerrar sesión</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-xs-12 col-md-5">
                <h6 class="uppercase">Repetir pedido</h6>
                <div class="sh-card-mini">
                    <div class="sh-card-mini__body">
                        <strong class="sh-text__sm">Apolo</strong><br>
                        <span>Apolo Taco Nylon Avellanado NPC</span>
                    </div>
                    <div class="sh-card-mini__footer">
                        <strong>0,35&nbsp;€</strong><span>/ud.</span>
                        <div class="sh-card-mini__actions">
                            <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                                    class="icon icon-basket"></i></button>
                            <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                                    class="icon icon-trash"></i></button>
                        </div>
                    </div>
                </div>

                <div class="sh-card-mini">
                    <div class="sh-card-mini__body">
                        <strong class="sh-text__sm">Apolo</strong><br>
                        <span>Apolo Taco Nylon Avellanado NPC</span>
                    </div>
                    <div class="sh-card-mini__footer">
                        <strong>0,35&nbsp;€</strong><span>/ud.</span>
                        <div class="sh-card-mini__actions">
                            <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                                    class="icon icon-basket"></i></button>
                            <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                                    class="icon icon-trash"></i></button>
                        </div>
                    </div>
                </div>

                <div class="sh-card-mini">
                    <div class="sh-card-mini__body">
                        <strong class="sh-text__sm">Apolo</strong><br>
                        <span>Apolo Taco Nylon Avellanado NPC</span>
                    </div>
                    <div class="sh-card-mini__footer">
                        <strong>0,35&nbsp;€</strong><span>/ud.</span>
                        <div class="sh-card-mini__actions">
                            <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                                    class="icon icon-basket"></i></button>
                            <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                                    class="icon icon-trash"></i></button>
                        </div>
                    </div>
                </div>

                <div class="sh-card-mini">
                    <div class="sh-card-mini__body">
                        <strong class="sh-text__sm">Apolo</strong><br>
                        <span>Apolo Taco Nylon Avellanado NPC</span>
                    </div>
                    <div class="sh-card-mini__footer">
                        <strong>0,35&nbsp;€</strong><span>/ud.</span>
                        <div class="sh-card-mini__actions">
                            <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                                    class="icon icon-basket"></i></button>
                            <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                                    class="icon icon-trash"></i></button>
                        </div>
                    </div>
                </div>

                <div class="quickorder-form sh-m-bottom__md">
                    <input class="sh-input" type="text" placeholder="Referencia" name="ref">
                    <div class="sh-input-quantity">
                        <input class="sh-input" min="1" name="quantity" value="1" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                            class="plus">+</button>
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                            class="minus">–</button>
                    </div>
                    <button type="submit" class="sh-btn sh-btn__full">Añadir</button>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <h6 class="uppercase">Resumen del pedido</h6>
                <div class="sh-box">
                    <table class="order-resume">
                        <tr>
                            <td>Total productos (4)</td>
                            <td>930,80&nbsp;€</td>
                        </tr>
                        <tr>
                            <td>Entrega</td>
                            <td>5,00&nbsp;€</td>
                        </tr>
                        <tr>
                            <td>IVA</td>
                            <td>195,46&nbsp;€</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <th>1.131,26&nbsp;€</th>
                        </tr>
                    </table>
                    <div class="sh-alert sh-alert__sucess">
                        <i class="icon icon-check"></i>
                        <span class="sh-closebtn" onclick="this.parentElement.style.display='none';">×</span>
                        <div>Añade 34 € a tu cesta para disfrutar de gastos de envío <strong>gratis.</strong></div>
                    </div>
                    <div class="sh-m-top__md end-xs"><button class="sh-btn" type="button">Finalizar compra</button>
                    </div>
                </div>
            </div>
        </div>
</section>