<section id="sh-quickorder-login" class="container-fluid">
    <div class="row sh-box">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <h2>Hola Lorena</h2>
            <p class="sh-text__h5">¿Qué necesitas hoy?</p>
            <div class="sh-divider__header"></div>
            <nav class="sh-m-top__md">
                <ul class="sh-nav-list">
                    <li><i class="icon icon-user"></i><a href="#" title="Ver perfil">Mi cuenta</a></li>
                    <li><i class="icon icon-clipboard"></i><a href="#" title="Historial pedidos">Historial de
                            pedidos</a></li>
                    <li><i class="icon icon-lock-open"></i><a href="#" title="Cestas guardas">Datos personales</a></li>
                    <li><i class="icon icon-heart"></i><a href="#" title="Cerrar sesion">Cestas guardadas</a></li>
                    <li><i class="icon icon-logout"></i><a href="#" title="Cerrar sesion">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-6 sh-m-top__md">
            <div class="shopping-cart-list">
                
                <p class="sh-text__h6 uppercase">Último pedido</p>
                
                <div class="sh-card shopping-cart-item">
                    <div class="product-image">
                        <img src="img/low/tool.png" alt="x">
                        <div>
                            <p><a href="./product.html" class="sh-link" rel="">Apolo Taco Nylon Avellanado NPC</a></p>
                        </div>
                    </div>

                    <div class="product-quantity">
                        <div class="sh-input-quantity">
                            <input class="sh-input" min="1" name="quantity" value="2" type="number">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                class="plus">+</button>
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                class="minus">–</button>
                        </div>
                    </div>

                    <div class="product-price-ud"><span>Precio ud.: </span><b>10&nbsp;€/ud.</b></div>
                    <div class="product-price-tot"><span>Total: </span><b>20&nbsp;€</b></div>

                    <div class="product-delete">
                        <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                                class="icon icon-trash"></i></button>
                    </div>
                </div>
                <div class="sh-card shopping-cart-item">
                    <div class="product-image">
                        <img src="img/low/tool.png" alt="x">
                        <div>
                            <p><a href="./product.html" class="sh-link" rel="">Apolo Taco Nylon Avellanado NPC</a></p>
                        </div>
                    </div>

                    <div class="product-quantity">
                        <div class="sh-input-quantity">
                            <input class="sh-input" min="1" name="quantity" value="2" type="number">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                class="plus">+</button>
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                class="minus">–</button>
                        </div>
                    </div>

                    <div class="product-price-ud"><span>Precio ud.: </span><b>10&nbsp;€/ud.</b></div>
                    <div class="product-price-tot"><span>Total: </span><b>20&nbsp;€</b></div>

                    <div class="product-delete">
                        <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                                class="icon icon-trash"></i></button>
                    </div>
                </div>
                <div class="sh-card shopping-cart-item">
                    <div class="product-image">
                        <img src="img/low/tool.png" alt="x">
                        <div>
                            <p><a href="./product.html" class="sh-link" rel="">Apolo Taco Nylon Avellanado NPC</a></p>
                        </div>
                    </div>

                    <div class="product-quantity">
                        <div class="sh-input-quantity">
                            <input class="sh-input" min="1" name="quantity" value="1" type="number">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                class="plus">+</button>
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                class="minus">–</button>
                        </div>
                    </div>

                    <div class="product-price-ud"><span>Precio ud.: </span><b>10&nbsp;€/ud.</b></div>
                    <div class="product-price-tot"><span>Total: </span><b>10&nbsp;€</b></div>

                    <div class="product-delete">
                        <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                                class="icon icon-trash"></i></button>
                    </div>
                </div>
                <div class="sh-card shopping-cart-item">
                    <div class="product-image">
                        <img src="img/low/tool.png" alt="x">
                        <div>
                            <p><a href="./product.html" class="sh-link" rel="">Apolo Taco Nylon Avellanado NPC</a></p>
                        </div>
                    </div>

                    <div class="product-quantity">
                        <div class="sh-input-quantity">
                            <input class="sh-input" min="1" name="quantity" value="2" type="number">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                class="plus">+</button>
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                class="minus">–</button>
                        </div>
                    </div>

                    <div class="product-price-ud"><span>Precio ud. </span><b>10&nbsp;€/ud.</b></div>
                    <div class="product-price-tot"><span>Total </span><b>20&nbsp;€</b></div>

                    <div class="product-delete">
                        <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                                class="icon icon-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-9 col-md-offset-3 col-lg-offset-0 col-lg-3 sh-m-top__md">
            <div class="sh-m-bottom">
                <p class="sh-text__h6 uppercase">Resumen del pedido</p>
            </div>
            <div class="sh-box">
                <table class="order-resume">
                    <tr>
                        <td>Total productos (4)</td>
                        <td>930,80&nbsp;€</td>
                    </tr>
                    <tr>
                        <td>Entrega</td>
                        <td>5,00&nbsp;€</td>
                    </tr>
                    <tr>
                        <td>IVA</td>
                        <td>195,46&nbsp;€</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <th>1.131,26&nbsp;€</th>
                    </tr>
                </table>
                <div class="sh-alert sh-alert__sucess">
                    <i class="icon icon-check"></i>
                    <span class="sh-closebtn" onclick="this.parentElement.style.display='none';">×</span>
                    <div>Añade 34 € a tu cesta para disfrutar de gastos de envío <strong>gratis.</strong></div>
                </div>
                <div class="sh-m-top__md end-xs"><button class="sh-btn" type="button">Repetir pedido</button></div>
            </div>
        </div>
    </div>
</section>