<button id="close-aside-mobile"><i class="icon icon-cancel"></i></button>
<aside id="sh-sidebar__filter">
    <div class="sh-sidebar__compareby sh-m-bottom__lg">
        <p class="sh-text__h6 uppercase">Comparando</p>
        <div class="sh-card-mini">
            <div class="sh-card-mini__body">
                <strong class="sh-text__sm">Apolo</strong><br>
                <span>Apolo Taco Nylon Avellanado NPC</span>
            </div>
            <div class="sh-card-mini__footer">
                <strong>0,35&nbsp;€</strong><span>/ud.</span>
                <div class="sh-card-mini__actions">
                    <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                            class="icon icon-basket"></i></button>
                    <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                            class="icon icon-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="sh-card-mini">
            <div class="sh-card-mini__body">
                <strong class="sh-text__sm">Apolo</strong><br>
                <span>Apolo Taco Nylon Avellanado NPC</span>
            </div>
            <div class="sh-card-mini__footer">
                <strong>0,35&nbsp;€</strong><span>/ud.</span>
                <div class="sh-card-mini__actions">
                    <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                            class="icon icon-basket"></i></button>
                    <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                            class="icon icon-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="sh-card-mini">
            <div class="sh-card-mini__body">
                <strong class="sh-text__sm">Apolo</strong><br>
                <span>Apolo Taco Nylon Avellanado NPC</span>
            </div>
            <div class="sh-card-mini__footer">
                <strong>0,35&nbsp;€</strong><span>/ud.</span>
                <div class="sh-card-mini__actions">
                    <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                            class="icon icon-basket"></i></button>
                    <button class="sh-btn-outline sh-btn-icon__sm" type="button"><i
                            class="icon icon-trash"></i></button>
                </div>
            </div>
        </div>
        <a href="./compare.html" class="sh-btn">Comparar</a>
    </div>
    <div class="sh-sidebar-filter__price sh-m-bottom__lg">
        <p class="sh-text__h6 uppercase">Precio</p>
        <p class="range-value">
            <input type="range" min="1" max="100" value="50">
        </p>
    </div>
    <div class="sh-sidebar-filter__brand sh-m-bottom__lg">
        <p class="sh-text__h6 uppercase">Marcas</p>
        <div>
            <label class="sh-check-group">3M <span class="unds">(1.500)</span>
                <input type="checkbox" checked="checked"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">+8000 <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">Taibo <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">Aluflex <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">Acha <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <button class="sh-btn-outline sh-btn__sm sh-m-top showmore">Mostrar más +</button>
    </div>

    <div class="sh-sidebar-filter__category sh-m-bottom__lg">
        <p class="sh-text__h6 uppercase">Atributo link</p>
        <ul>
            <li><a href="#">Herramientas manuales</a><span class="unds">(1.500)</span></li>
            <li><a href="#">Herramientas eléctricas y neumáticas</a><span class="unds">(1.500)</span></li>
            <li><a href="#">Abrasivos</a><span class="unds">(1.500)</span></li>
            <li><a href="#">Tornillería</a><span class="unds">(1.500)</span></li>
            <li><a href="#">Soldadura</a><span class="unds">(1.500)</span></li>
        </ul>
        <button class="sh-btn-outline sh-btn__sm sh-m-top showmore">Mostrar más +</button>
    </div>

    <div class="sh-sidebar-filter__size sh-m-bottom__lg">
        <p class="sh-text__h6 uppercase">Tallas</p>
        <div>
            <label class="sh-check-group">Única <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">S <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">M <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">L <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">XL <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <button class="sh-btn-outline sh-btn__sm sh-m-top showmore">Mostrar más +</button>
    </div>

    <div class="sh-sidebar-filter__colors sh-m-bottom__lg">
        <p class="sh-text__h6 uppercase">Colores</p>
        <div class="sh-m-bottom__md">
            <div class="sh-badge sh-badge-green">Verde</div>
            <div class="sh-badge sh-badge-red">Rojo</div>
            <div class="sh-badge">Azul oscuro</div>
            <div class="sh-badge sh-badge-blue">Azul</div>
        </div>
    </div>

</aside>