<section id="sh-testimonials" class="container-fluid sh-m-bottom__xl sh-m-top__xl">
    <div class="row center-xs">
        <h2 class="sh-divider__header">Tu proveedor online de productos industriales</h2>
    </div>

    <div class="row sh-m-bottom__lg sh-m-top__lg">
        <div class="col-xs-12 col-md-6">
            <p>En Suministros Herco somos algo más que tu ferretería industrial online, queremos darte todo tipo de
                soluciones técnicas para tu negocio u hogar. Desde hace más de 50 años, contamos con un amplio stock en
                suministros industriales y herramientas de bricolaje de las marcas líderes del mercado. La experiencia
                de nuestro equipo comercial está a disposición de nuestros clientes, tanto a través de nuestras
                instalaciones en Cuarte de Huerva como en nuestra tienda ferretera online. </p>
        </div>
        <div class="col-xs-12 col-md-6">
            <p>Ofrecemos asesoramiento y soporte solventando dudas de forma personalizada, ya que nuestro objetivo es
                que los clientes encuentren lo que buscan. Contamos con stock permanente, con miles de referencias en
                herramientas y suministros ajustados a las necesidades de todo tipo de profesionales. Te invitamos a
                conocer nuestra tienda online y, si te surgen dudas, pedir información adicional a nuestros expertos en
                ferretería.</p>
        </div>
    </div> <!-- end .row texts-->

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="sh-box">
                <div class="stars center-xs" data-stars="5">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <blockquote>“Trabajamos con Herco desde hace tiempo, y a finales de 2018, Maxi nos propuso una solución para nuestros problemas de almacén.
                    Hace un año que Herco realiza la gestión integral de todo nuestro almacén de consumibles y la experiencia no ha podido ser más positiva.
                    Hemos ahorrado tiempo y dinero al no tener que gestionar albaranes y materiales diariamente, ¡Nuestro personal de almacén está encantado!
                    Sin duda, una experiencia 100% recomendable.”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/carlos-vicente-benito.jpg" alt="Carlos Vicente Benito">
                    <div>
                        <strong>Carlos Vicente Benito</strong><br>
                        <span>Plant Manager. Grupo Técnico Rivi</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="sh-box">
                <div class="stars center-xs" data-stars="5">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <blockquote>“Trabajar con Herco ha aportado a nuestra compañía además de aspectos que se presuponen en una relación comercial en cuanto a precios , plazos etcc otros que para nosotros son si cabe más importantes, como son la confianza y la fiabilidad.
                    Confianza en que siempre se va a aportar por parte de Herco la mejor solución y Fiabilidad la de saber que te va a responder adecuadamente ante una necesidad urgente (habitual en este sector) es un plus que llevas ganado de antemano.
                    Queremos proveedores que no solo te vendan un material a un buen precio. Queremos que nos ayuden a mejorar y a innovar. Y de ahí que nuestro camino recorrido con Herco vaya destinado al éxito.”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Alberto Cornago">
                    <div>
                        <strong>Alberto Cornago</strong><br>
                        <span>Responsable de compras. Plastic Omnium</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="sh-box">
                <div class="stars center-xs" data-stars="4">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <blockquote>“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi [...]”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Kay Totleben">
                    <div>
                        <strong>Kay Totleben</strong><br>
                        <span>Director comercial Fagor</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="sh-box">
                <div class="stars center-xs" data-stars="3">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <blockquote>“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi [...]”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Kay Totleben">
                    <div>
                        <strong>Kay Totleben</strong><br>
                        <span>Director comercial Fagor</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="sh-box">
                <div class="stars center-xs" data-stars="3">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <blockquote>“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi [...]”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Kay Totleben">
                    <div>
                        <strong>Kay Totleben</strong><br>
                        <span>Director comercial Fagor</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="sh-box">
                <div class="stars center-xs" data-stars="5">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <blockquote>“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi [...]”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Kay Totleben">
                    <div>
                        <strong>Kay Totleben</strong><br>
                        <span>Director comercial Fagor</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->
    </div> <!-- end .row -->

    <div class="row center-xs">
        <div class="awards">
            <img src="img/low/herco-pilot.png" alt="Premio Pilot">
            <img src="img/low/herco-iso-9001.png" alt="ISO 9001">
            <img src="img/low/herco-rsa-sello.png" alt="RSA">
        </div>
    </div>
</section>