<section id="sh-testimonials" class="container-fluid sh-m-bottom__xl sh-m-top__xl">
    <div class="row center-xs">
        <h2 class="sh-divider__header">Tu proveedor online de productos industriales</h2>
    </div>
    
    <div class="row sh-m-bottom__lg sh-m-top__lg">
        <div class="col-xs-12 col-md-6">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,.</p>
        </div>
        <div class="col-xs-12 col-md-6">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
        </div>
    </div> <!-- end .row texts-->

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="sh-box">
                <div class="stars" data-stars="1">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <blockquote>“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi [...]”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Kay Totleben">
                    <div>
                        <strong>Kay Totleben</strong><br>
                        <span>Director comercial Fagor</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->
        
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="sh-box">
                <div class="stars" data-stars="2">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <blockquote>“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi [...]”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Kay Totleben">
                    <div>
                        <strong>Kay Totleben</strong><br>
                        <span>Director comercial Fagor</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="sh-box">
                <div class="stars" data-stars="4">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <blockquote>“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi [...]”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Kay Totleben">
                    <div>
                        <strong>Kay Totleben</strong><br>
                        <span>Director comercial Fagor</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->
       
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="sh-box">
                <div class="stars" data-stars="5">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <blockquote>“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi [...]”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Kay Totleben">
                    <div>
                        <strong>Kay Totleben</strong><br>
                        <span>Director comercial Fagor</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->
        
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="sh-box">
                <div class="stars" data-stars="3">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <blockquote>“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi [...]”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Kay Totleben">
                    <div>
                        <strong>Kay Totleben</strong><br>
                        <span>Director comercial Fagor</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->
        
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="sh-box">
                <div class="stars" data-stars="5">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <blockquote>“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi [...]”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Kay Totleben">
                    <div>
                        <strong>Kay Totleben</strong><br>
                        <span>Director comercial Fagor</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->  
    </div> <!-- end .row -->

    <div class="row center-xs">
        <div class="awards">
            <img src="img/low/herco-pilot.png" alt="Kay Totleben">
            <img src="img/low/herco-iso-9001.png" alt="Kay Totleben">
            <img src="img/low/herco-rsa-sello.png" alt="Kay Totleben">
        </div>
    </div>
</section>