<section id="sh-testimonials" class="container-fluid sh-m-bottom__xl sh-m-top__xl">
    <div class="row center-xs">
        <h2 class="sh-divider__header">Tu proveedor online de productos industriales</h2>
    </div>

    <div class="row sh-m-bottom__lg sh-m-top__lg">
        <div class="col-xs-12 col-md-6">
            <p>En Suministros Herco somos algo más que tu ferretería industrial online, queremos darte todo tipo de
                soluciones técnicas para tu negocio u hogar. Desde hace más de 50 años, contamos con un amplio stock en
                suministros industriales y herramientas de bricolaje de las marcas líderes del mercado. La experiencia
                de nuestro equipo comercial está a disposición de nuestros clientes, tanto a través de nuestras
                instalaciones en Cuarte de Huerva como en nuestra tienda ferretera online.

            </p>
        </div>
        <div class="col-xs-12 col-md-6">
            <p>Ofrecemos asesoramiento y soporte solventando dudas de forma personalizada, ya que nuestro objetivo es
                que los clientes encuentren lo que buscan. Contamos con stock permanente, con miles de referencias en
                herramientas y suministros ajustados a las necesidades de todo tipo de profesionales. Te invitamos a
                conocer nuestra tienda online y, si te surgen dudas, pedir información adicional a nuestros expertos en
                ferretería.</p>
        </div>
    </div> <!-- end .row texts-->

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="sh-box">
                <div class="center-xs">
                    <img src="img/low/logo-rivi.jpg" alt="Grupo técnico Rivi">
                </div>
                <blockquote>“Trabajamos con Herco desde hace tiempo, y a finales de 2018, Maxi nos propuso una solución
                    para nuestros problemas de almacén.
                    Hace un año que Herco realiza la gestión integral de todo nuestro almacén de consumibles y la
                    experiencia no ha podido ser más positiva.
                    <span class="showmore-content">
                        Hemos ahorrado tiempo y dinero al no tener que gestionar albaranes y materiales diariamente,
                        ¡Nuestro personal de almacén está encantado!
                        Sin duda, una experiencia 100% recomendable.”</span>
                    <div class="sh-link readmore">Leer más</div>
                </blockquote>

                <div class="testimonial-author">
                    <img src="img/low/carlos-vicente-benito.jpg" alt="Carlos Vicente Benito">
                    <div>
                        <strong>Carlos Vicente Benito</strong><br>
                        <span>Plant Manager. Grupo Técnico Rivi</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="sh-box">
                <div class="center-xs">
                    <img src="img/low/logo-plastic-omnium.jpg" alt="Plastic Omnium">
                </div>
                <blockquote>“Trabajar con Herco ha aportado a nuestra compañía además de aspectos que se presuponen en
                    una relación comercial en cuanto a precios , plazos etcc otros que para nosotros son si cabe más
                    importantes, como son la confianza y la fiabilidad.
                    <span class="showmore-content">
                        Confianza en que siempre se va a aportar por parte de Herco la mejor solución y Fiabilidad la de
                        saber que te va a responder adecuadamente ante una necesidad urgente (habitual en este sector)
                        es un plus que llevas ganado de antemano.
                        Queremos proveedores que no solo te vendan un material a un buen precio. Queremos que nos ayuden
                        a mejorar y a innovar. Y de ahí que nuestro camino recorrido con Herco vaya destinado al éxito.”
                    </span>
                    <div class="sh-link readmore">Leer más</div>
                </blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Alberto Cornago">
                    <div>
                        <strong>Alberto Cornago</strong><br>
                        <span>Responsable de compras. Plastic Omnium</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="sh-box">
                <div class="center-xs">
                    <img src="img/low/logo-embalajes-la-cartuja.jpg" alt="Embalajes La Cartuja">
                </div>
                <blockquote>“Lo que más me gustaría destacar sobre Herco, es no solo su gran cantidad de stock, ni su
                    gran cantidad de productos, ni siquiera la gran cantidad y calidad de información que nos hace
                    llegar, sino la gran atención de todo su personal, que hacen lo posible para que cada
                    <span class="showmore-content">
                        uno nos vayaamos con ese gusto de salir de sus instalaciones con la solución adecuada a nuestra
                        necesidad.
                        Con la cantidad de talleres que realizan los sábados creo que hacen una bonita labor, para
                        acercar más a la gente a que sean conscientes de que pueden solucionar ellos problemas que ni se
                        habían planteado ser capaces.
                        También me gustaría destacar su gran colaboración con instituciones como Donantes de Sangre o
                        Dona Médula Aragón y el deporte base”.
                    </span>
                    <div class="sh-link readmore">Leer más</div>
                </blockquote>
                <div class="testimonial-author">
                    <img src="img/low/jesus-perez.jpg" alt="Jesús Pérez">
                    <div>
                        <strong>Jesús Pérez</strong><br>
                        <span>Embalajes La Cartuja</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="sh-box">
                <div class="center-xs">
                    <img src="img/low/logo-ide.jpg" alt="IDE Electric">
                </div>
                <blockquote>"Trabajo con Herco desde hace más de 30 años, para mí Herco no es un mero suministrador de
                    material industrial, (que si así fuera tampoco habría nada que reprocharle pues su atención y su
                    servicio son de 10), Herco es un verdadero colaborador que se implica en los
                    <span class="showmore-content">
                        problemas de tu empresa, ayudándote en innumerables ocasiones aportando soluciones a tus
                        problemas ya sean de fabricación o de cualquier otro tipo. Muchas gracias y seguid así."
                    </span>
                    <div class="sh-link readmore">Leer más</div>
                </blockquote>
                <div class="testimonial-author">
                    <img src="img/low/javier-valeriola.jpg" alt="Javier Valeriola">
                    <div>
                        <strong>Javier Valeriola</strong><br>
                        <span>Responsable de compras. IDE ELECTRIC</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="sh-box">
                <div class="center-xs">
                    <img src="img/low/logo-eroski.jpg" alt="Eroski">
                </div>
                <blockquote>“Después de muchos años confiando en ellos el resumen del servicio es de 10 con dedicación
                    de 10, sin duda un referente en el mercado con el que seguiremos contando.”</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Sergio Tello">
                    <div>
                        <strong>Sergio Tello</strong><br>
                        <span>Resp. servicios generales plataformas Eroski</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="sh-box">
                <div class="center-xs">
                    <img src="img/low/logo-faurecia.jpg" alt="Faurecia Interior Systems">
                </div>
                <blockquote>“Ya hacía años que trabajábamos con éxito con Suministros Industriales Herco y por cambios
                    estructurales en nuestra compañía donde se pretendió la inclusión de grandes multinacionales
                    globales se había dejado dicha cooperación. Todo fueron problemas a partir
                    <span class="showmore-content">
                        de ahí. Nuestros almacenes comenzaron a resentirse y a tener problemas de localización de muchos
                        productos. Nosotros pasamos a tener un problema de gestión importante.
                        No paramos hasta recuperar a Herco como proveedor para este tipo de menesteres. Cuando lo
                        conseguimos, todo volvió a fluir, si cabe con mayor fuerza y diligencia. En estos momentos
                        nuestro almacén de consumibles es prácticamente gestionado al 100% por ellos. Además nos ayudan
                        a buscar cualquier tipo de material por difícil que sea su localización, todo ello con la máxima
                        exigencia tal y como solicitan las empresas del actual sector del automóvil.
                        Todo su equipo está pensado para que puedas delegar tus problemas con una simple llamada de
                        teléfono y sean ellos los que den un solución rápida y efectiva. No es una simple empresa de
                        reposición de recambios, las soluciones las dan y las proponen ellos mismos. Muy recomendable en
                        los tiempos que corren.”
                    </span>
                    <div class="sh-link readmore">Leer más</div>
                </blockquote>
                <div class="testimonial-author">
                    <img src="img/low/user.png" alt="Carlos Pueyo">
                    <div>
                        <strong>Carlos Pueyo</strong><br>
                        <span>Faurecia Interior Systems</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="sh-box">
                <div class="center-xs">
                    <img src="img/low/logo-integosa.jpg" alt="Integosa">
                </div>
                <blockquote>"Gran capacidad de respuesta y atención excepcional."</blockquote>
                <div class="testimonial-author">
                    <img src="img/low/jose-gregorio-benito.jpg" alt="José Gregorio Benito">
                    <div>
                        <strong>José Gregorio Benito</strong><br>
                        <span>Gerente. Integosa</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="sh-box">
                <div class="center-xs">
                    <img src="img/low/logo-dhl.jpg" alt="DHL">
                </div>
                <blockquote>“Herco Suministros Industriales ofrece un servicio excelente, con un gran abanico de
                    productos a precios competitivos, asesorando y buscando soluciones para el cliente.”
                </blockquote>
                <div class="testimonial-author">
                    <img src="img/low/javier-fraile-ruiz.jpg" alt="Javier Fraile Ruiz">
                    <div>
                        <strong>Javier Fraile Ruiz</strong><br>
                        <span>Jefe de Mantenimiento DHL</span>
                    </div>
                </div>
            </div>
        </div> <!-- end testimonial card-->
    </div> <!-- end .row -->

    <div class="row center-xs">
        <div class="awards">
            <img src="img/low/herco-pilot.png" alt="Premio Pilot">
            <img src="img/low/herco-iso-9001.png" alt="ISO 9001">
            <img src="img/low/herco-rsa-sello.png" alt="RSA">
        </div>
    </div>
</section>