

#sh-hero-homepage {
    height: 400px;
    .row{
        padding: 3em 0;
    }
    h1 {
        margin-bottom: 1em;
    }
}

form.sh-form-search {
    display: flex;
    max-width: 40rem;
    @include breakpoint (xsmobile) {
        max-width: 9rem;
    }

    button::before {
        content: 'Buscar';
            @include breakpoint (mobile) {
                content: '\e800';
                font-family: 'herco';
            }
        }
}