@mixin t-media( $width , $width2 : 3000 ) {
    @media all and (min-width: $width*1px) and (max-width:$width2*1px) {
        @content;
    }
}
@mixin t-media-sm(  ) {
    @media all and ( min-width : 768px ) {
        @content;
    }
}
@mixin t-media-md(  ) {
    @media all and ( min-width : 1024px ) {
        @content;
    }
}
@mixin t-media-lg(  ) {
    @media all and ( min-width : 1200px ) {
        @content;
    }
}
@mixin t-media-xl(  ) {
    @media all and ( min-width : 1280px ) {
        @content;
    }
}

.o-scroll {
	width : 100vw;
	margin-left : calc( -1 * ( 50vw - 50% ) );
	padding-left : calc( 50vw - 50% );
	padding-right : calc( 50vw - 50% );
	padding-top : 5px;
	padding-bottom : 5px;

	overflow-y : hidden;
    overflow-x : scroll;
    
    -webkit-overflow-scrolling : touch;
    &::-webkit-scrollbar {  display : none;  }
    scroll-behavior : smooth;


	&::after {
		/* Needed space for scrolling */
		content : "";
		display : block;
		width : 1px;

		@include t-media( 1210, 1370 ) {
			width : 20px;
		}

		@include t-media( 1370 ) {
			width : calc( 100px - 30px );
		}
	}

	&--desktop {

		@include t-media( 1370 ) {
			position : relative;
			width : 1370px;
			margin-left : -100px;
			padding-left : 100px;
		}
	}

	&--half {
		@include t-media-md {
			width : calc( 50vw - 15px );
			max-width : calc( 570px + 200px );
			margin-left : initial;
			margin-right : -200px;
			padding-left : 0;
			padding-right : 30px;
		}

		@include t-media( 1370 ) {
			position : relative;
			width : calc( 570px + 200px );
			margin-right : -200px;
			margin-left : -100px;
			padding-left : 100px;
		}
	}

	&-arrows {

		display : none;
		@include t-media-md {  display : block;  }

		position : relative;
		height : 100%;
		width : 100%;


		&__left,
		&__right {
			position : absolute;
			display : block;
			width : 102px;
			height : 100%;
			z-index : 30;
	    	display : flex;
            align-items : center;
            justify-content : center;
	    	&::after { color: blueviolet; }

	    	@include t-media( 1210, 1370 ) {
	    		/* 
	    			Small desktop screens problem, not possible to attach to the border.
	    			Gradient background removed.
	    		*/
				background : none !important;
			}
		}

		&__left {
			left : -20px;
			background : linear-gradient( 
	    		to left, 
	    		rgba(247,247,247,0), 
	    		rgba(247,247,247,1));

			&::after {  content : "arrow_back";  }

			@include t-media( 1370 ) {
				left : -101px;
			}
		}

		&__right {
			right : -20px;
			background : linear-gradient( 
	    		to right, 
	    		rgba(247,247,247,0), 
	    		rgba(247,247,247,1));

			&::after {  content : "arrow_forward";  }

			@include t-media( 1370 ) {
				right : -101px;
			}
		}

		&:hover {
			.o-scroll-arrows__left::after,
			.o-scroll-arrows__right::after {
				opacity : 1;
				transition : opacity .4s ease;
			}
		}

		&-design {
			display : block;
			
			width : 80px;
			height : 80px;
			border-radius : 100%;
			background-color : #999999;
			color : white;
			text-align : center;
			line-height : 80px !important;
			font-size : 50px;
			font-weight : bold;
			//opacity : 0;
			transition : opacity .4s ease; 
			z-index : 40;
			cursor : pointer;

			&:hover {
				background-color : $color-blue;
			}
		}
	}

}


.o-grid {
	display : grid;
	grid-gap : 1em;
	grid-template-columns : 1fr;
	grid-template-rows : auto [last-line];

	&__exclude {
		grid-column : 1 / -1;
	}

	&--scroll {
		grid-template-columns : 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		/* 11 items, not 10, because we need some space on ther right for scrolling */

		> *:nth-child(10) ~ * { 
			/* Limited to 10 elements */
			display : none; 
		}
    }
    
    .sh-card {
        min-width: 240px;
    }

}




