.promo-content {
    display: grid;
    grid-template-columns: 1fr 180px;
    @include breakpoint (xsmobile) {
        grid-template-columns: 1fr 100px;
    }
    @include devicesize (only_tablet) {
        grid-template-columns: 1fr 1fr;
    }
    
    &>div {
        display: grid;
    }
    h3 {
        margin-top: 0;
        font-size: 1.75rem;
    }
    a {
        align-self: end;
        transition: all .3s ease;
    }
    img {
        width: 100%;
    }
}

.promo-hover-content {
    position: absolute;
    color: white;
    visibility: hidden;
    top: 4em;
    left: 1em;
    right: 1em;
    @include breakpoint (xsmobile) {
        top: 3em;
    }
}

.sh-box {
    &:hover {
        color: white;
        z-index:1;
        img.promo {
            visibility: hidden;
        }

        .promo-content {
            grid-template-columns: 2fr .5fr;
            height: 180px;
        }
        
        h3 {
            font-size: 1.25rem;
            transition: all .3s ease;
            color: white;
            @include breakpoint (xsmobile) {
                font-size: 1rem;
            }
            
        }
        a {
            color: white;
            z-index:2;
        }

        .promo-hover-content {
          visibility: visible;
        }
    }
    &::after {
        position: absolute;
        content: '';
        top:0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $color-navy-blue;
        transform-origin:left;
        transition:width 0.3s ease;
        z-index:-1;
        border-radius: 2px;
      }
      
      &:hover::after {
        width: 100%;
      }
}

#sh-quickorder {
    .icon {
        margin-right: 1.5rem;
        font-size: 2.5em;
        margin-top: 1rem;
    }
    .quickorder-form {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 2fr .5fr .5fr;
        @include breakpoint (xsmobile) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            input[type=text] {
                grid-column-start: 1;
                grid-column-end: 3;
            } 
        }
           
    }

    h2 { margin-top: 0; }

    .quickorder-items > div {
        display: flex;
    }
}


#sh-brands, #sh-community {
    background: white;
    padding: 5em 0;
    border-top: 1px solid $color-grey-50;
    border-bottom: 1px solid $color-grey-50; 
}

#sh-features-categories .col-xs-12 {
    margin-top: 1em;
    margin-bottom: 1em;

}

.sh-overlay {
    position: relative;
    display: flex;
    height: 100%;
    h3 {color: white;}
    img {object-fit: contain; width: 100%;}
    border-radius: 2px;
    transition: all .3s ease;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #03001B;
        opacity: 0.6;
    }

    .sh-overlay-content {
        position: absolute;
        top: 1rem;
        left: 2rem;
        right: 2rem;
        display: flex;
        flex-direction: column;

        a {
            margin-top: 1rem;
            align-self: flex-start;
        }
    }
}

.scroll-wrapper {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
    @include breakpoint (mobile) {
        width: calc(100vw - 16px);
    }
    @include devicesize (only_mobile) {
        width: calc(100vw - 24px);
    }

    @include devicesize (only_tablet) {
        width: calc(100vw - 33% - 4.5em)
    }

    & > * {
        grid-column: 2 / -2;
      }
      
    & > .full {
        grid-column: 1 / -1;
      }
  
    &::-webkit-scrollbar {
        display: none;
    }  
  }

  .hsa {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    @include breakpoint (laptop) {
        //grid-auto-columns: calc(33% - var(--gutter) * 3);
    }
    
    @include devicesize (only_mobile) {
        margin-left: -1.5em;
        
    }

    @include breakpoint (mobile) {
        grid-auto-columns: 1fr;
        margin-left: -1em;
    }

    overflow-x: scroll;
    scroll-snap-type: x proximity;
  }
  
  .hsa:before,
  .hsa:after {
    content: '';
    width: 10px;
  }
  
  .hsa .sh-card{
    @include breakpoint (xsmobile) {
        min-width: 232px;
    }
  }

  .no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

.stars {
    display: flex;
    justify-content: center;
  }
  
  .star {
    display: inline-block;
    padding: 0 .25rem;
    &::before {
      content: '\e804';
      font-family: 'herco';
      color: $color-grey;
    }
  }
  
  @for $i from 1 through 5 {
    .stars[data-stars='#{$i}'] {
      .star:nth-child(-n + #{$i})::before {
        color: $color-yellow;
      }
    }
  }

.testimonial-author {
    display: flex;

    img {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        border: 1px solid $color-blue;
        margin-right: 2em;
    }

    strong {
        color: $color-blue;
    }

    &>div {
        display: grid;
    }
}

.awards {
    display: flex;
    grid-gap: 2em;
    margin-top: 4rem;
    @include breakpoint (xsmobile) {
        display: inline-grid;
        justify-items: center;
    }
    img {
        mix-blend-mode: multiply;
    }
}