.product-brand {
    color: #003e90;
    text-transform: uppercase;
}

.product-price {
    margin: 1em 0;
    color: $color-dark-navy-blue;
    span {
         font-size: 80%;   
    }
    .offer-price {
        text-decoration: line-through;
        color: #606060;
        padding-right: .5em;
    }
    
}

.product-details {
    text-transform: uppercase;
    font-weight: bold;
    margin: 2em 0;

    span:after {
        content: '|';
        color: #606060;
        padding: 0 1em;
    }

    span:last-child:after {
        content: '';
        padding: 0 0;
    }

    .product-on-stock {
        color: $color-grass;
    }

    .product-delivery {
        color: $color-blue;
    }
}

.product-add-cart {
    display: flex;
    
    & div:first-child {
      margin-right: 1em; 
    }
}


.cross-selling-row {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 2em;
    h2 {hyphens: auto;
        word-wrap: break-word;}
    @include breakpoint (mobile) {
        display: block;
    }
    .sh-card {
      margin-bottom: 1em;
    }
}

.products-attributes {
    &> div {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2em;

        button {
            margin-top: .5em;
            margin-right: .5em;
        }
    }
}

.product-img {
    border: 1px solid $color-grey-50;
    position: relative;
    margin: auto 0;
    text-align: center;
    max-width: 90%;
    margin-bottom: .5em;
    border-radius: $border-radius;
    padding: .5em;
    background: white;
    span {
        position: absolute;
        top: 1em;
        left: 1em;
    }

    @include breakpoint (mobile) {
        max-width: 100%;
    }
}

.product-img-thumbs {
    display: flex;
    max-width: 90%;
    justify-content: space-around;
    @include breakpoint (mobile) {
        max-width: 100%;
    }
    background: white;
    border: 1px solid $color-grey-50;
    margin-bottom: 2em;

    img {
        max-width: 10rem;
        max-height: 10rem;
        padding: .5em;
        width: 100%;
    }
}

    
#sh-product-tabs {
position: relative;
}

.sh-tabs { 
    font-size: 0;
    border-radius: $border-radius;
    width: 100%;
    
    input {
        display: none;
        
        &:checked + label {
            color: $color-blue;
        }

    @for $i from 1 through 3 {
        &#tab#{$i}:checked {
        ~ .line {
            left: #{($i - 1) * 33.3%};
        }
        ~ .sh-tabs-wrapper #c#{$i} {
            display: block;
            opacity: 1;
            //width: 100% / $numberOfTabs;
            
            height: auto;
            width: 100%;
        }
        }
    }
    }
    
    label {
        display: inline-block;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        height: 36px;
        line-height: 36px;
        width: 33.3%;
        text-align: center;
        position: relative;
        transition: all .2s ease;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &::after {
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            display: block;
            background: $color-grey-50;
            bottom: 0;
            left: 0;
            transition: 0.25s ease;
        }
        &:hover::after {
            background: $color-grey;
            }
        }

        i.icon {
            padding-right: .5em;
        }

    .line {
        position: absolute;
        height: 2px;
        background: $color-blue;
        width: 33.3%;
        top: 34px;
        left: 0;
        transition: 0.25s ease;
    }
    .sh-tabs-wrapper {
    position: relative;
    height: auto;
    width: 100%;
    font-size: 16px;
    padding: 2rem 0;
    .sh-tab-content {
        position: relative;
        display: none;
        width: 0;
        height: 0;
        box-sizing: border-box;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: 0.25s ease;     
    }
    }
}


/* -------------------------------- 
Product TABLE
-------------------------------- */
.sh-comparison-table__wrap {
  margin-bottom: 4em;
  border: 0;
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .sh-products-table {
    position: relative;
    overflow: hidden;
    border: 2px solid $color-grey-50;
    border-radius: $border-radius;
  }

  .sh-products-table .features {
    /* fixed left column - product properties list */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 20%;
    background-color: white;
    opacity: .90;
    border-right: 2px solid $color-grey-50;
  }
  

  .sh-products-wrapper {
    overflow-x: auto;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;
  }

  .sh-products-columns {
    /* products list wrapper */
    margin-left: 20%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
  }

  .sh-products-columns::after {
    clear: both;
    content: "";
    display: table;
  }

  .sh-products-columns .product {
    position: relative;
    float: left;
    width: 33%;
    min-width: 210px;
      @include breakpoint (mobile) {
        min-width: 180px;
      }
    text-align: center;
  }

  .features-list {
    margin-top: 0;
    margin-bottom: 0;

    .features-list__firts {
      padding: 1em;
      height: 210px;

      img {
        @include breakpoint (mobile) {
          max-width: 100%;
        }
        max-width: 177px;
      }
    }

    .features-list__end {
      height: 89px;
    }
  }

  .features-list li {
    padding: 1.5em .5em;
    border-color: $color-grey-50;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    background-color: white;
    min-height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;

    .sh-btn .icon {
      padding-right: .5em;
    }
  }

  .features .features-list li,
  .sh-products-table .features {
    /* fixed left column - items */
    font-weight: bold;
    justify-content: start;
  }


  .features .features-list li {
    /* truncate text with dots */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .sh-products-table .top-info {
    position: relative;
    width: 100%;
    height: 22.5vh;
    padding: 1em;
    transition: height 0.3s;
    cursor: pointer;
    background: #ffffff;
  }
}

.compare .sh-compare-btns {
  display: flex;
  justify-content: end;
  form {
    padding-left: 1em;
  }
}

