<article class="sh-m-top__md sh-box sh-card-blog__mini">
    <div><img class="" src="img/low/promo.png" alt="x"></div>
    <div>
        <p class="sh-text__h4"><a href="./post.html" title="¿Qué vestuario laboral necesito para verano?">¿Qué vestuario laboral necesito para verano?</a></p>
        <p class="byauthor">
            <small><time datetime="2018-07-07">2 enero, 2019</time> / </small>
            <small>Por HercoTV / </small>
            <small>Categoría</small>
        </p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        <a href="./post.html" title="¿Qué vestuario laboral necesito para verano?">Leer más</a>
    </div>
</article>