<article class="sh-m-top__md sh-box sh-card-blog__mini">
    <div><img width="300" height="200" src="img/low/promo.png" alt="Aquí el alt de la imagen"></div>
    <div>
        <h2 class="sh-text__h3"><a href="./post.html" title="¿Qué vestuario laboral necesito para verano?">¿Qué vestuario laboral necesito para verano?</a></h2>
        <p class="byauthor">
            <small><time datetime="2018-07-07">2 enero, 2019</time> / </small>
            <small>Categoría</small>
        </p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
    </div>
</article>