<div class="sh-card sh-card--options">
    <a class="sh-card__link" href="./product.html" title="" rel=""></a>
    <div class="sh-card__head">
        <img src="img/low/tool.png" alt="x">
      <span class="sh-badge @@label">@@product-label</span>
    </div>

    <div class="sh-card__body">
      <small class="sh-card__body__brand uppercase">@@product-brand</small>
      <p class="sh-text__h6 sh-card__body__text">@@product-name</p>
      <div class="sh-card__body__price">
        <strong>@@product-price&nbsp;€</strong><br>
        <small class="sh-m-top">Disponible en diferentes <strong>colores</strong></small>
      </div>
    </div>
    
    <div class="sh-card__footer">
        <button class="sh-btn sh-btn__full" onclick="location.href='/herco-demo/product.html';" type="button"><i class="icon icon-plus"></i>Opciones</button>
    </div>

  </div> <!-- end sh-card -->