  <div class="sh-card">
    <a class="sh-card__link" href="https://google.com" title="" rel=""></a>
    <div class="sh-card__head">
        <img src="img/low/tool.png" alt="x">
      <label class="sh-switch">
        <input type="checkbox">
        <span></span>
      </label>
      <span class="sh-card__switch__text sh-text__sm">Comparar</span>
      <span class="sh-badge @@label">@@product-label</span>
    </div>

    <div class="sh-card__body">
      <strong class="sh-card__body__brand">@@product-brand</strong>
      <h5 class="sh-card__body__text">@@product-name</h5>
      <strong class="sh-card__body__price">@@product-price&nbsp;€</strong><span>/ud.</span>
    </div>
    
    <div class="sh-card__footer">
      <button class="sh-btn sh-btn__full" type="button">Añadir al carro</button>
    </div>

  </div> <!-- end sh-card -->