<!doctype html>
<html class="no-js" lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herco WEB DEMO</title>
    <link rel="icon" href="img/low/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
</head>

<body class="@@bodyClass">
    <header class="container-fluid" id="sh-navigation">
    
        <div class="sh-top-nav">
            <a href="#menu"><i class="icon icon-menu"></i><span></span></a>
            <div class="sh-nav--brand">
                <a href="index.html"><img src="svg/SH-Logo-Red.svg" alt="Suministros HERCO" width="200px"></a>
            </div>
            
            <div class="sh-nav--secondary">
                <div>
                    <i class="icon icon-location"></i>
                    <a href="" title="Localizar pedido">Localizar pedido</a>
                </div>
                <div>
                    <i class="icon icon-tag"></i>
                    <a href="" title="Pedido rápido">Pedido rápido</a>
                </div>
                <div class="sh-nav--avatar">
					<i class="icon icon-user"></i>
					<img src="img/low/avatar.png">
                    <a href="./login.html" title="Iniciar sesión">Iniciar sesión</a>
                </div>
                </ul>
            </div>

            <div class="sh-nav--basket" id="sh-basket">
                <a href="" id="open-basket">
                    <i class="icon icon-basket"></i><span class="sh-badge sh-badge-red">0</span>
                </a>
            </div>
        </div>

        <nav id="sh-nav" role="navigation">
            <form class="sh-form-search sh-space" action="./search.html">
                <input class="sh-input" type="text" placeholder="Buscar..." name="search">
                <button class="sh-btn" type="submit"></button>
            </form>
			<ul>	
				<li><span>Productos span</span>
					<ul>
						<li><span>Protección y vestuario</span>
							<ul>
								<li><a href="./gafas.html">Gafas</a></li>
								<li><a href="#">SubFamilia 2</a></li>
								<li><a href="/subcategory.html">SubFamilia 3</a></li>
							</ul>
                        </li>
                        <li><span>Familia 2</span>
							<ul>
								<li><a href="/subcategory.html">SubFamilia 2.1</a></li>
								<li><a href="/subcategory.html">SubFamilia 2.2</a></li>
								<li><a href="/subcategory.html">SubFamilia 2.3</a></li>
							</ul>
                        </li>
                        <li><a href="#">Familia nochild</a></li>
					</ul>
				</li>
				
				<li><a href="#">Productos href</a>
					<ul>
						<li><a href="./category.html">Protección y vestuario</a>
							<ul>
								<li><a href="./gafas.html">Gafas</a></li>
								<li><a href="#">SubFamilia</a></li>
								<li><a href="#">SubFamilia</a></li>
								<li><a href="#">SubFamilia</a></li>
							</ul>
						</li>
						<li><a href="#">Familia 2</a>
							<ul>
								<li><a href="#">SubFamilia</a></li>
								<li><a href="#">SubFamilia</a></li>
								<li><a href="#">SubFamilia</a></li>
								<li><a href="#">SubFamilia</a></li>
							</ul>
						</li>
						<li><a href="#">Familia 3</a>
							<ul>
								<li><a href="#">SubFamilia</a></li>
								<li><a href="#">SubFamilia</a></li>
								<li><a href="#">SubFamilia</a></li>
								<li><a href="#">SubFamilia</a></li>
							</ul>
						</li>
						<li><a href="#">Familia 4</a>
							<ul>
								<li><a href="#">Sub something</a></li>
								<li><a href="#">Sub something</a></li>
								<li><a href="#">Sub something</a></li>
								<li><a href="#">Sub something</a></li>
							</ul>
						</li>
					</ul>
				</li>
				
				<li><span>Catálogos</span>
					<ul>
						<li><span>Catálogo 1</span>
							<ul>
								<li><a href="#">Lidership</a></li>
								<li><a href="#">History</a></li>
								<li><a href="#">Locations</a></li>
								<li><a href="#">Careers</a></li>
							</ul>
						</li>
						<li><span>Catálogo 2</span>
							<ul>
								<li><a href="#">Undergraduate</a></li>
								<li><a href="#">Masters</a></li>
								<li><a href="#">International</a></li>
								<li><a href="#">Online</a></li>
							</ul>
						</li>
						<li><span>Catálogo 3</span>
							<ul>
								<li><a href="#">Undergraduate research</a></li>
								<li><a href="#">Masters research</a></li>
								<li><a href="#">Funding</a></li>
							</ul>
						</li>
						<li><span>Catálogo 4</span>
							<ul>
								<li><a href="#">Sub something</a></li>
								<li><a href="#">Sub something</a></li>
								<li><a href="#">Sub something</a></li>
								<li><a href="#">Sub something</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><span>Información corporativa</span>
					<ul>
						<li><a href="#">Today</a></li>
						<li><a href="#">Calendar</a></li>
						<li><a href="#">Sport</a></li>
					</ul>
				</li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contactar</a></li>
            </ul>
            <div class="sh-nav--secondary__mobile">
                <div>
                    <i class="icon icon-location"></i>
                    <a href="" title="Localizar pedido">Localizar pedido</a>
                </div>
                <div>
                    <i class="icon icon-tag"></i>
                    <a href="" title="Pedido rápido">Pedido rápido</a>
                </div>
                <div class="sh-nav--avatar">
					<i class="icon icon-user"></i>
					<img src="img/low/avatar.png">
                    <a href="./login.html" title="Iniciar sesión">Iniciar sesión</a>
                </div>
                </ul>
            </div>
		</nav>
    </header>

