<!doctype html>
<html class="no-js" lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="herco">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herco WEB DEMO</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
</head>

<body class="@@body-class">
    <div class="container-fluid sh-menu">
        <button class="btn btn--primary" id="btn_nav"><i class="icon icon-menu"></i></button>
        <div class="sh-menu--top">
            <div class="sh-menu--brand">
                <a href="index.html"><img src="svg/SH-Logo-Red.svg" alt="Herco Logotipo" width="200px"></a>
            </div>

        </div>

        <div class="sh-menu__secondary">
            <div>
                <i class="icon icon-location"></i>
                <a href="">Localizar pedido</a>
            </div>
            <div>
                <i class="icon icon-tag"></i>
                <a href="">Pedido rápido</a>
            </div>
            <div>
                <i class="icon icon-user"></i>
                <a href="">Iniciar sesión</a>
            </div>
            </ul>
        </div>

        <div class="sh-menu__basket">
            <a href="">
                <i class="icon icon-basket"></i><span class="sh-badge sh-badge-red">0</span>
            </a>
        </div>

        <nav class="sh-menu">
            <div class="sh-menu__products">
                <ul>
                    <li><a href="">Productos</a>
                        <ul>
                            <li><a href="">Categoría</a>
                                <ul>
                                    <li><a href="/subcategory.html">SubCategoría</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="sh-menu__main">
                <ul>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Catálogos</a>
                        <ul>
                            <li><a href="#">School</a>
                                <ul>
                                    <li><a href="#">Lidership</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Locations</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Study</a>
                                <ul>
                                    <li><a href="#">Undergraduate</a></li>
                                    <li><a href="#">Masters</a></li>
                                    <li><a href="#">International</a></li>
                                    <li><a href="#">Online</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Research</a>
                                <ul>
                                    <li><a href="#">Undergraduate research</a></li>
                                    <li><a href="#">Masters research</a></li>
                                    <li><a href="#">Funding</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Something</a>
                                <ul>
                                    <li><a href="#">Sub something</a></li>
                                    <li><a href="#">Sub something</a></li>
                                    <li><a href="#">Sub something</a></li>
                                    <li><a href="#">Sub something</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Información corporativa</a>
                        <ul>
                            <li><a href="#">Today</a></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Sport</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Empty sub</a></li>
                </ul>
            </div>
        </nav>
    </div>