<section id="sh-hero" style="background-image: linear-gradient(#001442, #001442), url(img/low/@@bgimg);">    
    <div class="container-fluid">
        <div class="row middle-xs sh-text__white hero">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 sh-m-bottom">
                <h1>@@title</h1>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <form class="sh-form-search" action="./search.html">
                    <input class="sh-input sh-form__lg" type="text" placeholder="Buscar por..." name="search">
                    <button type="submit" class="sh-btn__danger sh-form__lg"></button>
                </form>
            </div>
        </div>
        <div class="row middle-xs sh-text__white">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="sh-m-bottom__md sh-icon-w-text">
                            <i class="icon icon-rocket sh-text__h1"></i>
                            <div>
                                <strong class="sh-text__h5">Recepción y envío</strong><br>
                                <p>En sólo 24/48 Horas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="sh-m-bottom__md sh-icon-w-text">
                            <i class="icon icon-info-circled sh-text__h1"></i>
                            <div>
                                <strong class="sh-text__h5">Envíos gratis</strong><br>
                                <p>Para compras superiores a 50 €</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="sh-m-bottom__md sh-icon-w-text">
                            <i class="icon icon-bookmarks sh-text__h1"></i>
                            <div>
                                <strong class="sh-text__h5">Empresa certificada</strong><br>
                                <p>Sistema gestión de calidad ISO 9001:2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section> <!-- end #sh-section -->