<section id="sh-hero-homepage" style="background: url(img/low/duotone-example-4.jpg) no-repeat center center; background-size: cover;">
    <div class="container">
        <div class="row middle-xs">
            <h1 class="col-lg-8 sh-text__white">@@title</h1>
                <form class="sh-form-search col-lg-8" action="./search.html">
                <input class="sh-input" type="text" placeholder="Buscar..." name="search">
                <button type="submit" class="sh-btn"></button>
            </form>
        </div>
    </div> 
</section> <!-- end #sh-section -->