<section id="sh-hero" style="background: url(img/low/duotone-example-4.jpg) no-repeat center center; background-size: cover;">
    <div class="container">
        <div class="row middle-xs sh-text__white">
            <h1 class="col-xs-12 col-md-8">@@title</h1>
            <p class="col-xs-12 col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div> 
</section> <!-- end #sh-section -->