<div id="sh-hero--page" class="sh-bg__navy-blue container-fluid">
    <div class="row center-xs">
            <div class="step-wizard col-xs-12 col-md-8 sh-m-top__md">
                <div class="progress">
                    <div class="progressbar empty"></div>
                    <div id="prog" class="progressbar"></div>
                </div>
                <ul>
                    <li class="active">
                        <div id="step1">
                            <span class="step"><i class="icon icon-basket"></i></span>
                            <p class="title">1 <span>Carrito</span></p>
                        </div>
                    </li>
                    <li class="">
                        <div id="step2">
                            <span class="step"><i class="icon icon-credit-card"></i></span>
                            <p class="title">2 <span>Dirección y pago</span></p>
                        </div>
                    </li>

                    <li class="">
                        <div id="step3">
                            <span class="step"><i class="icon icon-thumbs-up"></i></span>
                            <p class="title">3 <span>Confirmación</span></p>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div> <!-- end #sh-section-hero -->