<button id="close-aside-mobile"><i class="icon icon-cancel"></i></button>
<aside id="sh-sidebar__filter">
    <div class="sh-sidebar__filterby sh-m-bottom__lg">
        <div class="sh-m-bottom sh-m-top dflex between-xs middle-xs">
            <span class="sh-text__h6 uppercase">Filtrando por</span>
            <button class="sh-btn-outline__danger sh-btn__sm"><i class="icon icon-cancel-circled"></i> Borrar todo</button>
        </div>
        <div class="reset-filter-btn">
            <button class="sh-btn-outline sh-btn__sm"><i class="icon icon-cancel-circled"></i> Affinity</button>
            <button class="sh-btn-outline sh-btn__sm"><i class="icon icon-cancel-circled"></i> 3M</button>
            <button class="sh-btn-outline sh-btn__sm"><i class="icon icon-cancel-circled"></i> Abraflex</button>
        </div>
    </div>
    <div class="sh-sidebar-filter__price sh-m-bottom__lg">
        <p class="sh-text__h6 uppercase">Precio</p>
        <p class="price-slider">
            <input type="range" min="1" max="100" value="50">
        </p>
        <div class="dflex between-xs">
            <span id="pvpdesde">Desde 0 €</span>
            <span id="pvphasta">Hasta 100 €</span>
        </div>
    </div>
    <div class="sh-sidebar-filter__brand sh-m-bottom__lg">
        <p class="sh-text__h6 uppercase">Marcas</p>
        <div>
            <label class="sh-check-group">3M <span class="unds">(1.500)</span>
                <input type="checkbox" checked="checked"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">+8000 <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">Taibo <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">Aluflex <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">Acha <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div class="showmore-content">
            <div>
                <label class="sh-check-group">Faru <span class="unds">(1.500)</span>
                    <input type="checkbox" checked="checked"> <span class="sh-checkmark"></span>
                </label>
            </div>
            <div>
                <label class="sh-check-group">Personna <span class="unds">(1.500)</span>
                    <input type="checkbox"> <span class="sh-checkmark"></span>
                </label>
            </div>
            <div>
                <label class="sh-check-group">Pegaso <span class="unds">(1.500)</span>
                    <input type="checkbox"> <span class="sh-checkmark"></span>
                </label>
            </div>
            <div>
                <label class="sh-check-group">Sibol <span class="unds">(1.500)</span>
                    <input type="checkbox"> <span class="sh-checkmark"></span>
                </label>
            </div>
            <div>
                <label class="sh-check-group">Medid <span class="unds">(1.500)</span>
                    <input type="checkbox"> <span class="sh-checkmark"></span>
                </label>
            </div>
        </div><!-- end show more -->    
        <button class="sh-btn-outline sh-btn__sm sh-m-top showmore">Mostrar más</button>
    </div>

    <div class="sh-sidebar-filter__category sh-m-bottom__lg">
        <p class="sh-text__h6 uppercase">Subcategoría</p>
        <ul>
            <li><a href="#">Herramientas manuales</a><span class="unds">(1.500)</span></li>
            <li><a href="#">Herramientas eléctricas y neumáticas</a><span class="unds">(1.500)</span></li>
            <li><a href="#">Abrasivos</a><span class="unds">(1.500)</span></li>
            <li><a href="#">Tornillería</a><span class="unds">(1.500)</span></li>
            <li><a href="#">Soldadura</a><span class="unds">(1.500)</span></li>
        </ul>
    </div>

    <div class="sh-sidebar-filter__size sh-m-bottom__lg">
        <p class="sh-text__h6 uppercase">Tallas</p>
        <div>
            <label class="sh-check-group">Única <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">S <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">M <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">L <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div>
            <label class="sh-check-group">XL <span class="unds">(1.500)</span>
                <input type="checkbox"> <span class="sh-checkmark"></span>
            </label>
        </div>
        <div class="showmore-content">
            <div>
                <label class="sh-check-group">32 <span class="unds">(1.500)</span>
                    <input type="checkbox" checked="checked"> <span class="sh-checkmark"></span>
                </label>
            </div>
            <div>
                <label class="sh-check-group">34 <span class="unds">(1.500)</span>
                    <input type="checkbox"> <span class="sh-checkmark"></span>
                </label>
            </div>
            <div>
                <label class="sh-check-group">36 <span class="unds">(1.500)</span>
                    <input type="checkbox"> <span class="sh-checkmark"></span>
                </label>
            </div>
            <div>
                <label class="sh-check-group">38 <span class="unds">(1.500)</span>
                    <input type="checkbox"> <span class="sh-checkmark"></span>
                </label>
            </div>
            <div>
                <label class="sh-check-group">40<span class="unds">(1.500)</span>
                    <input type="checkbox"> <span class="sh-checkmark"></span>
                </label>
            </div>
        </div><!-- end show more --> 
        <button class="sh-btn-outline sh-btn__sm sh-m-top showmore">Mostrar más</button>
    </div>

    <div class="sh-sidebar-filter__colors sh-m-bottom__lg">
        <p class="sh-text__h6 uppercase">Colores</p>
        <div class="sh-m-bottom__md">
            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark negro"></span>
                </label>
            </div>

            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark gris"></span>
                </label>
            </div>

            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark rojo"></span>
                </label>
            </div>
            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark marron"></span>
                </label>
            </div>

            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark naranja"></span>
                </label>
            </div>

            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark amarillo"></span>
                </label>
            </div>

            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark verde"></span>
                </label>
            </div>

            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark lima"></span>
                </label>
            </div>

            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark azul"></span>
                </label>
            </div>

            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark azuloscuro"></span>
                </label>
            </div>
            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark rosa"></span>
                </label>
            </div>

            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark morado"></span>
                </label>
            </div>
            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark beige"></span>
                </label>
            </div>
            <div>
                <label class="sh-check-group">
                    <input type="checkbox"> <span class="sh-checkmark blanco"></span>
                </label>
            </div>
        </div>
    </div>

</aside>